<div class="container">
  <h2>Contact Form </h2>

  <form (submit)="saveChanges()" [formGroup]="frmGrp">
    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Name">
    </div>
    <div class="mb-3">
      <label for="contactNumber" class="form-label">Contact Number</label>
      <input type="text" formControlName="contactNumber" class="form-control" id="contactNumber"
        placeholder="Enter Contact Number">
    </div>
    <button type="submit" class="btn btn-secondary">Save</button> &nbsp;
    <button type="submit" class="btn btn-secondary" routerLink="/contacts">Cancel</button>
  </form>
</div>